In [35]:
import pandas as pd
import matplotlib.pyplot as plt
from ast import literal_eval
data = pd.read_csv("data/movies_metadata.csv")
data = data[data['original_language']=='en']
data = data[['budget', 'genres','id', 'imdb_id','original_title', 'popularity', 'release_date', 'revenue', 'runtime', 'vote_average', 'vote_count']]
data = data[(data['genres'] != "[]")]
data['genres'] = data['genres'].fillna('[]').apply(literal_eval).apply(lambda x: [i['name'] for i in x] if isinstance(x, list) else [])
data = data[(data.T != 0).all()]
data

,budget,genres,id,imdb_id,original_title,popularity,release_date,revenue,runtime,vote_average,vote_count
0,30000000.0,"[Animation, Comedy, Family]",862.0,tt0114709,Toy Story,21.946943,30/10/1995,373554033.0,81.0,7.7,5415.0
1,65000000.0,"[Adventure, Fantasy, Family]",8844.0,tt0113497,Jumanji,17.015539,15/12/1995,262797249.0,104.0,6.9,2413.0
3,16000000.0,"[Comedy, Drama, Romance]",31357.0,tt0114885,Waiting to Exhale,3.859495,22/12/1995,81452156.0,127.0,6.1,34.0
5,60000000.0,"[Action, Crime, Drama, Thriller]",949.0,tt0113277,Heat,17.924927,15/12/1995,187436818.0,170.0,7.7,1886.0
8,35000000.0,"[Action, Adventure, Thriller]",9091.0,tt0114576,Sudden Death,5.231580,22/12/1995,64350171.0,106.0,5.5,174.0
...,...,...,...,...,...,...,...,...,...,...,...
45014,60000000.0,"[Action, Western, Science Fiction, Fantasy, Ho...",353491.0,tt1648190,The Dark Tower,50.903593,03/08/2017,71000000.0,95.0,5.7,688.0
45139,50000000.0,"[Comedy, Family, Animation]",378236.0,tt4877122,The Emoji Movie,33.694599,28/07/2017,66913939.0,86.0,5.8,327.0
45167,11000000.0,"[Action, Crime, Mystery, Thriller]",395834.0,tt5362988,Wind River,40.796775,03/08/2017,184770205.0,111.0,7.4,181.0
45409,800000.0,"[Comedy, Drama]",62757.0,tt0933361,Dikari,0.903061,23/11/2006,1328612.0,100.0,5.8,6.0
45412,2000000.0,"[Romance, Drama]",63281.0,tt1718881,Про любоff,0.121844,30/09/2010,1268793.0,107.0,4.0,3.0