In [11]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
from ast import literal_eval

In [16]:
movies=pd.read_csv("data/movies_metadata.csv")
keywords=pd.read_csv('data/keywords.csv')

In [18]:
movies

,adult,belongs_to_collection,budget,genres,homepage,id,imdb_id,original_language,original_title,overview,...,release_date,revenue,runtime,spoken_languages,status,tagline,title,video,vote_average,vote_count
0,False,"{'id': 10194, 'name': 'Toy Story Collection', ...",30000000.0,"[{'id': 16, 'name': 'Animation'}, {'id': 35, '...",http://toystory.disney.com/toy-story,862.0,tt0114709,en,Toy Story,"Led by Woody, Andy's toys live happily in his ...",...,30/10/1995,373554033.0,81.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,NaN,Toy Story,False,7.7,5415.0
1,False,NaN,65000000.0,"[{'id': 12, 'name': 'Adventure'}, {'id': 14, '...",NaN,8844.0,tt0113497,en,Jumanji,When siblings Judy and Peter discover an encha...,...,15/12/1995,262797249.0,104.0,"[{'iso_639_1': 'en', 'name': 'English'}, {'iso...",Released,Roll the dice and unleash the excitement!,Jumanji,False,6.9,2413.0
2,False,"{'id': 119050, 'name': 'Grumpy Old Men Collect...",0.0,"[{'id': 10749, 'name': 'Romance'}, {'id': 35, ...",NaN,15602.0,tt0113228,en,Grumpier Old Men,A family wedding reignites the ancient feud be...,...,22/12/1995,0.0,101.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Still Yelling. Still Fighting. Still Ready for...,Grumpier Old Men,False,6.5,92.0
3,False,NaN,16000000.0,"[{'id': 35, 'name': 'Comedy'}, {'id': 18, 'nam...",NaN,31357.0,tt0114885,en,Waiting to Exhale,"Cheated on, mistreated and stepped on, the wom...",...,22/12/1995,81452156.0,127.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Friends are the people who let you be yourself...,Waiting to Exhale,False,6.1,34.0
4,False,"{'id': 96871, 'name': 'Father of the Bride Col...",0.0,"[{'id': 35, 'name': 'Comedy'}]",NaN,11862.0,tt0113041,en,Father of the Bride Part II,Just when George Banks has recovered from his ...,...,10/02/1995,76578911.0,106.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Just When His World Is Back To Normal... He's ...,Father of the Bride Part II,False,5.7,173.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
45461,False,NaN,0.0,"[{'id': 18, 'name': 'Drama'}, {'id': 10751, 'n...",http://www.imdb.com/title/tt6209470/,439050.0,tt6209470,fa,رگ خواب,Rising and falling between a man and woman.,...,NaN,0.0,90.0,"[{'iso_639_1': 'fa', 'name': 'فارسی'}]",Released,Rising and falling between a man and woman,Subdue,False,4.0,1.0
45462,False,NaN,0.0,"[{'id': 18, 'name': 'Drama'}]",NaN,111109.0,tt2028550,tl,Siglo ng Pagluluwal,An artist struggles to finish his work while a...,...,17/11/2011,0.0,360.0,"[{'iso_639_1': 'tl', 'name': ''}]",Released,NaN,Century of Birthing,False,9.0,3.0
45463,False,NaN,0.0,"[{'id': 28, 'name': 'Action'}, {'id': 18, 'nam...",NaN,67758.0,tt0303758,en,Betrayal,"When one of her hits goes wrong, a professiona...",...,01/08/2003,0.0,90.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,A deadly game of wits.,Betrayal,False,3.8,6.0
45464,False,NaN,0.0,[],NaN,227506.0,tt0008536,en,Satana likuyushchiy,"In a small town live two brothers, one a minis...",...,21/10/1917,0.0,87.0,[],Released,NaN,Satan Triumphant,False,0.0,0.0
45465,False,NaN,0.0,[],NaN,461257.0,tt6980792,en,Queerama,50 years after decriminalisation of homosexual...,...,09/06/2017,0.0,75.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,NaN,Queerama,False,0.0,0.0

In [19]:
movies = movies[movies['original_language']=='en']
# 'release_date', 'runtime',
movies = movies[['genres','id', 'imdb_id','title', 'overview', 'tagline', 'production_companies', 'production_countries']]
movies = movies[(movies['genres'] != "[]")]
movies['genres'] = movies['genres'].fillna('[]').apply(literal_eval).apply(lambda x: [i['name'] for i in x] if isinstance(x, list) else [])
movies = movies[(movies.T != 0).all()]
movies

,genres,id,imdb_id,title,overview,tagline,production_companies,production_countries
0,"[Animation, Comedy, Family]",862.0,tt0114709,Toy Story,"Led by Woody, Andy's toys live happily in his ...",NaN,"[{'name': 'Pixar Animation Studios', 'id': 3}]","[{'iso_3166_1': 'US', 'name': 'United States o..."
1,"[Adventure, Fantasy, Family]",8844.0,tt0113497,Jumanji,When siblings Judy and Peter discover an encha...,Roll the dice and unleash the excitement!,"[{'name': 'TriStar Pictures', 'id': 559}, {'na...","[{'iso_3166_1': 'US', 'name': 'United States o..."
2,"[Romance, Comedy]",15602.0,tt0113228,Grumpier Old Men,A family wedding reignites the ancient feud be...,Still Yelling. Still Fighting. Still Ready for...,"[{'name': 'Warner Bros.', 'id': 6194}, {'name'...","[{'iso_3166_1': 'US', 'name': 'United States o..."
3,"[Comedy, Drama, Romance]",31357.0,tt0114885,Waiting to Exhale,"Cheated on, mistreated and stepped on, the wom...",Friends are the people who let you be yourself...,[{'name': 'Twentieth Century Fox Film Corporat...,"[{'iso_3166_1': 'US', 'name': 'United States o..."
4,[Comedy],11862.0,tt0113041,Father of the Bride Part II,Just when George Banks has recovered from his ...,Just When His World Is Back To Normal... He's ...,"[{'name': 'Sandollar Productions', 'id': 5842}...","[{'iso_3166_1': 'US', 'name': 'United States o..."
...,...,...,...,...,...,...,...,...
45457,"[Mystery, Horror]",390959.0,tt0265736,Shadow of the Blair Witch,"In this true-crime documentary, we delve into ...",NaN,[],[]
45458,[Horror],289923.0,tt0252966,The Burkittsville 7,A film archivist revisits the story of Rustin ...,"Do you know what happened 50 years before ""The...","[{'name': 'Neptune Salad Entertainment', 'id':...","[{'iso_3166_1': 'US', 'name': 'United States o..."
45459,[Science Fiction],222848.0,tt0112613,Caged Heat 3000,It's the year 3000 AD. The world's most danger...,NaN,"[{'name': 'Concorde-New Horizons', 'id': 4688}]","[{'iso_3166_1': 'US', 'name': 'United States o..."
45460,"[Drama, Action, Romance]",30840.0,tt0102797,Robin Hood,"Yet another version of the classic epic, with ...",NaN,"[{'name': 'Westdeutscher Rundfunk (WDR)', 'id'...","[{'iso_3166_1': 'CA', 'name': 'Canada'}, {'iso..."
45463,"[Action, Drama, Thriller]",67758.0,tt0303758,Betrayal,"When one of her hits goes wrong, a professiona...",A deadly game of wits.,"[{'name': 'American World Pictures', 'id': 6165}]","[{'iso_3166_1': 'US', 'name': 'United States o..."

In [20]:
keywords

           id                                           keywords
0         862  [{'id': 931, 'name': 'jealousy'}, {'id': 4290,...
1        8844  [{'id': 10090, 'name': 'board game'}, {'id': 1...
2       15602  [{'id': 1495, 'name': 'fishing'}, {'id': 12392...
3       31357  [{'id': 818, 'name': 'based on novel'}, {'id':...
4       11862  [{'id': 1009, 'name': 'baby'}, {'id': 1599, 'n...
...       ...                                                ...
46414  439050             [{'id': 10703, 'name': 'tragic love'}]
46415  111109  [{'id': 2679, 'name': 'artist'}, {'id': 14531,...
46416   67758                                                 []
46417  227506                                                 []
46418  461257                                                 []

[46419 rows x 2 columns]

In [21]:
movies=movies.merge(keywords,on='id')

In [22]:
movies.head(1)

,genres,id,imdb_id,title,overview,tagline,production_companies,production_countries,keywords
0,"[Animation, Comedy, Family]",862.0,tt0114709,Toy Story,"Led by Woody, Andy's toys live happily in his ...",NaN,"[{'name': 'Pixar Animation Studios', 'id': 3}]","[{'iso_3166_1': 'US', 'name': 'United States o...","[{'id': 931, 'name': 'jealousy'}, {'id': 4290,..."

In [23]:
movies=movies[['id','title','genres',"keywords",'overview','tagline','production_companies', 'production_countries']]

In [24]:
movies.isnull().sum()

id                          0
title                       3
genres                      0
keywords                    0
overview                   50
tagline                 13182
production_companies        3
production_countries        3
dtype: int64

In [25]:
movies.dropna(inplace=True)

In [26]:
movies.isnull().sum()

id                      0
title                   0
genres                  0
keywords                0
overview                0
tagline                 0
production_companies    0
production_countries    0
dtype: int64

In [27]:
movies.duplicated().sum()

TypeError: unhashable type: 'list'

In [28]:
import ast
ast.literal_eval

In [29]:
def convert(obj):
    L =[]
    for i in ast.literal_eval(obj):
        L.append(i['name'])
    return L

In [30]:
# movies['genres'] = movies['genres'].apply(convert)
movies.head()

ValueError: malformed node or string: ['Adventure', 'Fantasy', 'Family']

In [31]:
movies['keywords']=movies['keywords'].apply(convert)

In [ ]:
def convert3(obj):
    L =[]
    counter=0
    for i in ast.literal_eval(obj):
        if counter !=3:
            L.append(i['name'])
            counter+=1
    return L

In [ ]:
# movies['Cast']=movies['Cast'].apply(convert3)

In [ ]:
def fetch_directoer(obj):
    L =[]
    for i in ast.literal_eval(obj):
        if i['job']=="Director":
            L.append(i['name'])
            break
    return L

In [ ]:
# movies['Crew']=movies['Crew'].apply(fetch_directoer)

In [32]:
movies['overview']=movies['overview'].apply(lambda x: x.split())

In [33]:
movies['genres']=movies['genres'].apply(lambda x : [i.replace(" ","")for i in x])
movies['keywords']=movies['keywords'].apply(lambda x : [i.replace(" ","")for i in x])
# movies['Cast']=movies['Cast'].apply(lambda x : [i.replace(" ","")for i in x])
# movies['Crew']=movies['Crew'].apply(lambda x : [i.replace(" ","")for i in x])

In [35]:
movies['tags']= movies['genres'] + movies['keywords'] + movies['overview']

In [36]:
movies.head(2)

,id,title,genres,keywords,overview,tagline,production_companies,production_countries,tags
1,8844.0,Jumanji,"[Adventure, Fantasy, Family]","[boardgame, disappearance, basedonchildren'sbo...","[When, siblings, Judy, and, Peter, discover, a...",Roll the dice and unleash the excitement!,"[{'name': 'TriStar Pictures', 'id': 559}, {'na...","[{'iso_3166_1': 'US', 'name': 'United States o...","[Adventure, Fantasy, Family, boardgame, disapp..."
2,15602.0,Grumpier Old Men,"[Romance, Comedy]","[fishing, bestfriend, duringcreditsstinger, ol...","[A, family, wedding, reignites, the, ancient, ...",Still Yelling. Still Fighting. Still Ready for...,"[{'name': 'Warner Bros.', 'id': 6194}, {'name'...","[{'iso_3166_1': 'US', 'name': 'United States o...","[Romance, Comedy, fishing, bestfriend, duringc..."

In [37]:
new_df = movies[['id','title','tags']]

In [38]:
new_df['tags']=new_df['tags'].apply(lambda x: " ".join(x))
new_df['tags']=new_df['tags'].apply(lambda x: x.lower())

C:\Users\miemt\AppData\Local\Temp\ipykernel_7376\1413511631.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  new_df['tags']=new_df['tags'].apply(lambda x: " ".join(x))
C:\Users\miemt\AppData\Local\Temp\ipykernel_7376\1413511631.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  new_df['tags']=new_df['tags'].apply(lambda x: x.lower())

In [ ]:
# from nltk.stem import PorterStemmer
# ps=PorterStemmer()

In [ ]:
# def steam(text):
#     y=[]
#     for i in text.split():
#         y.append (ps.stem(i))
#     return " ".join(y)

In [ ]:
# new_df['tags']=new_df['tags'].apply(steam)

In [39]:
from sklearn.feature_extraction.text import CountVectorizer
CV= CountVectorizer(max_features=8000, stop_words="english")

In [40]:
vector=CV.fit_transform(new_df['tags']).toarray()

In [41]:
CV.get_feature_names()[1002]

C:\Users\miemt\Desktop\python\lib\site-packages\sklearn\utils\deprecation.py:87: FutureWarning: Function get_feature_names is deprecated; get_feature_names is deprecated in 1.0 and will be removed in 1.2. Please use get_feature_names_out instead.
  warnings.warn(msg, category=FutureWarning)

'broadway'

In [42]:
from sklearn.metrics.pairwise import cosine_similarity
similarity=cosine_similarity(vector)

In [43]:
new_df[new_df['title']=='Avatar'].index[0]

11614

In [44]:
sorted(list(enumerate(similarity[0])), reverse=True, key=lambda x : x[1])[1:6]

[(6065, 0.2801659073402629),
 (2749, 0.2677264489518961),
 (16752, 0.2524149167425064),
 (4228, 0.24846467329894406),
 (10413, 0.2449979787750126)]

In [45]:
def Recommend_Movies(movie):
    movie_index=new_df[new_df['title']==movie].index[0]
    distance=similarity[movie_index]
    movies_list=sorted(list(enumerate(distance)), reverse=True, key=lambda x : x[1])[1:6]
    
    for i in movies_list:
        print(new_df.iloc[i[0]].title)

In [46]:
Recommend_Movies('Batman Begins')

Land of the Dead
Warm Bodies
Bong of the Dead
Bad Milo
Turbo Kid

In [47]:
Recommend_Movies("Avatar")

On Any Sunday
Road
Capital C
Capital C
Google Me

In [48]:
Recommend_Movies("The Godfather")

Sabrina
Mr. & Mrs. Smith
David and Bathsheba
The Desperados
I'm Not Jesus Mommy

In [49]:
Recommend_Movies("Scarface")

Jett Jackson: The Movie
The Revenge of Frankenstein
Night of the Lepus
Dr. Jekyll and Mr. Hyde
Arachnoquake

In [50]:
Recommend_Movies("The Hunger Games")

Hot Shots! Part Deux
Red Planet
World Trade Center
Dead Space: Downfall
The Rift

In [3]:
movies=pd.read_csv("./data/10000 Movies Data")
credits=pd.read_csv('./data/10000 Credits Data')

In [4]:
movies

,Unnamed: 0,Movie_id,title,Genres,release_date,Keywords,overview,poster_path,Budget,Revenue,popularity,vote_average,vote_count
0,0,238,The Godfather,"[{'id': 18, 'name': 'Drama'}, {'id': 80, 'name...",1972-03-14,"[{'id': 131, 'name': 'italy'}, {'id': 697, 'na...","Spanning the years 1945 to 1955, a chronicle o...",/3bhkrj58Vtu7enYsRolD1fZdja1.jpg,245066411,245066411,93.552,8.7,16814
1,1,278,The Shawshank Redemption,"[{'id': 18, 'name': 'Drama'}, {'id': 80, 'name...",1994-09-23,"[{'id': 378, 'name': 'prison'}, {'id': 417, 'n...",Framed in the 1940s for the double murder of h...,/q6y0Go1tsGEsmtFryDOJo3dEmqu.jpg,28341469,28341469,78.664,8.7,22542
2,2,240,The Godfather Part II,"[{'id': 18, 'name': 'Drama'}, {'id': 80, 'name...",1974-12-20,"[{'id': 131, 'name': 'italy'}, {'id': 700, 'na...",In the continuing saga of the Corleone crime f...,/hek3koDUyRQk7FIhPXsa6mT2Zc3.jpg,102600000,102600000,55.752,8.6,10187
3,3,19404,Dilwale Dulhania Le Jayenge,"[{'id': 35, 'name': 'Comedy'}, {'id': 18, 'nam...",1995-10-19,[],"Raj is a rich, carefree, happy-go-lucky second...",/2CAL2433ZeIihfX1Hb2139CX0pW.jpg,100000000,100000000,22.150,8.6,3927
4,4,424,Schindler's List,"[{'id': 18, 'name': 'Drama'}, {'id': 36, 'name...",1993-12-15,"[{'id': 818, 'name': 'based on novel or book'}...",The true story of how businessman Oskar Schind...,/sF1U4EUQS8YHUYjNl3pMGNIQyr0.jpg,321365567,321365567,53.542,8.6,13382
...,...,...,...,...,...,...,...,...,...,...,...,...,...
9975,9975,384737,Precious Cargo,"[{'id': 28, 'name': 'Action'}, {'id': 80, 'nam...",2016-07-15,"[{'id': 9730, 'name': 'crime boss'}, {'id': 10...","After a botched heist, Eddie a murderous crim...",/dOQv2PDBu9bBCZRLeRp6QQYJDr3.jpg,100659,100659,14.663,5.2,243
9976,9976,282813,The Pyramid,"[{'id': 27, 'name': 'Horror'}]",2014-12-04,"[{'id': 1299, 'name': 'monster'}, {'id': 3762,...",An archaeological team attempt to unlock the s...,/joPb4PUPP7xClD6XPiQ7laBEtZf.jpg,16861137,16861137,17.892,5.2,861
9977,9977,134375,Home Alone: The Holiday Heist,"[{'id': 35, 'name': 'Comedy'}, {'id': 10751, '...",2012-11-25,"[{'id': 207317, 'name': 'christmas'}]",8-year-old Finn is terrified to learn his fami...,/6JPrRC0JPM06y17pUXD6w1xMvKi.jpg,0,0,23.978,5.2,335
9978,9978,10477,Driven,"[{'id': 28, 'name': 'Action'}]",2001-04-27,"[{'id': 271, 'name': 'competition'}, {'id': 36...",Talented rookie race-car driver Jimmy Bly has ...,/2aN2BBAbRyfEpfxZAQY82T8zWRq.jpg,54744738,54744738,13.200,5.2,594
9979,9979,243688,Poltergeist,"[{'id': 27, 'name': 'Horror'}]",2015-05-20,"[{'id': 3350, 'name': 'poltergeist'}, {'id': 3...",A family's suburban home is invaded by angry s...,/A1ymtbzatZp94Z49ZOBb8JGXOBB.jpg,95437994,95437994,42.458,5.2,2037

In [5]:
credits=credits.drop("title",axis=1)
movies=movies.merge(credits,on='Movie_id')

In [6]:
movies.head(1)

,Unnamed: 0_x,Movie_id,title,Genres,release_date,Keywords,overview,poster_path,Budget,Revenue,popularity,vote_average,vote_count,Unnamed: 0_y,Cast,Crew
0,0,238,The Godfather,"[{'id': 18, 'name': 'Drama'}, {'id': 80, 'name...",1972-03-14,"[{'id': 131, 'name': 'italy'}, {'id': 697, 'na...","Spanning the years 1945 to 1955, a chronicle o...",/3bhkrj58Vtu7enYsRolD1fZdja1.jpg,245066411,245066411,93.552,8.7,16814,0,"[{'adult': False, 'gender': 2, 'id': 3084, 'kn...","[{'adult': False, 'gender': 2, 'id': 154, 'kno..."

In [7]:
movies=movies[['Movie_id','title','Genres',"Keywords",'overview','Cast','Crew']]

In [8]:
movies.isnull().sum()

Movie_id    0
title       0
Genres      0
Keywords    0
overview    6
Cast        0
Crew        0
dtype: int64

In [9]:
movies.dropna(inplace=True)

In [10]:
movies.isnull().sum()

Movie_id    0
title       0
Genres      0
Keywords    0
overview    0
Cast        0
Crew        0
dtype: int64

In [11]:
movies.duplicated().sum()

0

In [12]:
import ast
ast.literal_eval

In [13]:
def convert(obj):
    L =[]
    for i in ast.literal_eval(obj):
        L.append(i['name'])
    return L

In [14]:
movies['Genres'] = movies['Genres'].apply(convert)
movies.head()

,Movie_id,title,Genres,Keywords,overview,Cast,Crew
0,238,The Godfather,"[Drama, Crime]","[{'id': 131, 'name': 'italy'}, {'id': 697, 'na...","Spanning the years 1945 to 1955, a chronicle o...","[{'adult': False, 'gender': 2, 'id': 3084, 'kn...","[{'adult': False, 'gender': 2, 'id': 154, 'kno..."
1,278,The Shawshank Redemption,"[Drama, Crime]","[{'id': 378, 'name': 'prison'}, {'id': 417, 'n...",Framed in the 1940s for the double murder of h...,"[{'adult': False, 'gender': 2, 'id': 504, 'kno...","[{'adult': False, 'gender': 2, 'id': 153, 'kno..."
2,240,The Godfather Part II,"[Drama, Crime]","[{'id': 131, 'name': 'italy'}, {'id': 700, 'na...",In the continuing saga of the Corleone crime f...,"[{'adult': False, 'gender': 2, 'id': 1158, 'kn...","[{'adult': False, 'gender': 2, 'id': 154, 'kno..."
3,19404,Dilwale Dulhania Le Jayenge,"[Comedy, Drama, Romance]",[],"Raj is a rich, carefree, happy-go-lucky second...","[{'adult': False, 'gender': 2, 'id': 35742, 'k...","[{'adult': False, 'gender': 1, 'id': 8311, 'kn..."
4,424,Schindler's List,"[Drama, History, War]","[{'id': 818, 'name': 'based on novel or book'}...",The true story of how businessman Oskar Schind...,"[{'adult': False, 'gender': 2, 'id': 3896, 'kn...","[{'adult': False, 'gender': 2, 'id': 491, 'kno..."

In [15]:
movies['Keywords']=movies['Keywords'].apply(convert)

In [16]:
def convert3(obj):
    L =[]
    counter=0
    for i in ast.literal_eval(obj):
        if counter !=3:
            L.append(i['name'])
            counter+=1
    return L

In [17]:
movies['Cast']=movies['Cast'].apply(convert3)

In [18]:
def fetch_directoer(obj):
    L =[]
    for i in ast.literal_eval(obj):
        if i['job']=="Director":
            L.append(i['name'])
            break
    return L

In [19]:
movies['Crew']=movies['Crew'].apply(fetch_directoer)

In [20]:
movies['overview']=movies['overview'].apply(lambda x: x.split())

In [21]:
movies['Genres']=movies['Genres'].apply(lambda x : [i.replace(" ","")for i in x])
movies['Keywords']=movies['Keywords'].apply(lambda x : [i.replace(" ","")for i in x])
movies['Cast']=movies['Cast'].apply(lambda x : [i.replace(" ","")for i in x])
movies['Crew']=movies['Crew'].apply(lambda x : [i.replace(" ","")for i in x])

In [22]:
movies['tags']= movies['Genres'] + movies['Keywords'] + movies['Cast'] + movies['Crew'] + movies['overview']

In [23]:
movies.head(2)

,Movie_id,title,Genres,Keywords,overview,Cast,Crew,tags
0,238,The Godfather,"[Drama, Crime]","[italy, lossoflovedone, loveatfirstsight, base...","[Spanning, the, years, 1945, to, 1955,, a, chr...","[MarlonBrando, AlPacino, JamesCaan]",[FrancisFordCoppola],"[Drama, Crime, italy, lossoflovedone, loveatfi..."
1,278,The Shawshank Redemption,"[Drama, Crime]","[prison, corruption, policebrutality, basedonn...","[Framed, in, the, 1940s, for, the, double, mur...","[TimRobbins, MorganFreeman, BobGunton]",[FrankDarabont],"[Drama, Crime, prison, corruption, policebruta..."

In [24]:
new_df = movies[['Movie_id','title','tags']]

In [25]:
new_df['tags']=new_df['tags'].apply(lambda x: " ".join(x))
new_df['tags']=new_df['tags'].apply(lambda x: x.lower())

C:\Users\leoni\AppData\Local\Temp\ipykernel_223248\2380013068.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  new_df['tags']=new_df['tags'].apply(lambda x: " ".join(x))
C:\Users\leoni\AppData\Local\Temp\ipykernel_223248\2380013068.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  new_df['tags']=new_df['tags'].apply(lambda x: x.lower())

In [26]:
# from nltk.stem import PorterStemmer
# ps=PorterStemmer()

In [27]:
# def steam(text):
#     y=[]
#     for i in text.split():
#         y.append (ps.stem(i))
#     return " ".join(y)

In [28]:
# new_df['tags']=new_df['tags'].apply(steam)

In [29]:
from sklearn.feature_extraction.text import CountVectorizer
CV= CountVectorizer(max_features=8000, stop_words="english")

In [30]:
vector=CV.fit_transform(new_df['tags']).toarray()

In [31]:
CV.get_feature_names()[1002]

C:\Users\leoni\AppData\Local\Packages\PythonSoftwareFoundation.Python.3.10_qbz5n2kfra8p0\LocalCache\local-packages\Python310\site-packages\sklearn\utils\deprecation.py:87: FutureWarning: Function get_feature_names is deprecated; get_feature_names is deprecated in 1.0 and will be removed in 1.2. Please use get_feature_names_out instead.
  warnings.warn(msg, category=FutureWarning)

'brown'

In [32]:
from sklearn.metrics.pairwise import cosine_similarity
similarity=cosine_similarity(vector)

In [33]:
new_df[new_df['title']=='Avatar'].index[0]

1266

In [34]:
sorted(list(enumerate(similarity[0])), reverse=True, key=lambda x : x[1])[1:6]

[(2, 0.4382615323430833),
 (1633, 0.30218361150951756),
 (2747, 0.27500954910846337),
 (9782, 0.25588315785957955),
 (5229, 0.253546276418555)]

In [35]:
def Recommend_Movies(movie):
    movie_index=new_df[new_df['title']==movie].index[0]
    distance=similarity[movie_index]
    movies_list=sorted(list(enumerate(distance)), reverse=True, key=lambda x : x[1])[1:6]
    
    for i in movies_list:
        print(new_df.iloc[i[0]].title)

In [36]:
Recommend_Movies('Batman Begins')

Batman: Under the Red Hood
The Dark Knight
The Dark Knight Rises
Batman: Bad Blood
Batman: Year One

In [37]:
Recommend_Movies("Avatar")

Rakka
Titan A.E.
Skylines
Dragon Ball Z: Bardock - The Father of Goku
Valerian and the City of a Thousand Planets

In [38]:
Recommend_Movies("The Godfather")

The Godfather Part II
The Godfather Part III
Bomb City
Gotti
The Wild Goose Lake

In [42]:
Recommend_Movies("Scarface")

Braven
Death Wish 4: The Crackdown
Bad Boys II
Pusher
Bad Boys for Life

In [48]:
Recommend_Movies("The Hunger Games")

The Hunger Games: Catching Fire
The Hunger Games: Mockingjay - Part 2
The Hunger Games: Mockingjay - Part 1
The Seeker: The Dark Is Rising
The Indian in the Cupboard