In [228]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [229]:
movies=pd.read_csv("data/movies_metadata.csv")
credits = pd.read_csv("data/credits.zip")
keywords = pd.read_csv("data/keywords.csv")

In [230]:
# credits=credits.drop("title",axis=1)
movies=movies.merge(credits,on='id')
movies=movies.merge(keywords,on='id')

In [231]:
movies.head(2)

,adult,belongs_to_collection,budget,genres,homepage,id,imdb_id,original_language,original_title,overview,...,spoken_languages,status,tagline,title,video,vote_average,vote_count,cast,crew,keywords
0,False,"{'id': 10194, 'name': 'Toy Story Collection', ...",30000000.0,"[{'id': 16, 'name': 'Animation'}, {'id': 35, '...",http://toystory.disney.com/toy-story,862.0,tt0114709,en,Toy Story,"Led by Woody, Andy's toys live happily in his ...",...,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,NaN,Toy Story,False,7.7,5415.0,"[{'cast_id': 14, 'character': 'Woody (voice)',...","[{'credit_id': '52fe4284c3a36847f8024f49', 'de...","[{'id': 931, 'name': 'jealousy'}, {'id': 4290,..."
1,False,NaN,65000000.0,"[{'id': 12, 'name': 'Adventure'}, {'id': 14, '...",NaN,8844.0,tt0113497,en,Jumanji,When siblings Judy and Peter discover an encha...,...,"[{'iso_639_1': 'en', 'name': 'English'}, {'iso...",Released,Roll the dice and unleash the excitement!,Jumanji,False,6.9,2413.0,"[{'cast_id': 1, 'character': 'Alan Parrish', '...","[{'credit_id': '52fe44bfc3a36847f80a7cd1', 'de...","[{'id': 10090, 'name': 'board game'}, {'id': 1..."

In [232]:
movies=movies[['id','title','genres',"keywords",'overview','cast','crew']]

In [233]:
movies.isnull().sum()

id            0
title         4
genres        0
keywords      0
overview    995
cast          0
crew          0
dtype: int64

In [234]:
movies.dropna(inplace=True)

In [235]:
movies.isnull().sum()

id          0
title       0
genres      0
keywords    0
overview    0
cast        0
crew        0
dtype: int64

In [236]:
movies.duplicated().sum()

1147

In [237]:
import ast
ast.literal_eval

In [238]:
def convert(obj):
    L =[]
    for i in ast.literal_eval(obj):
        L.append(i['name'])
    return L

In [239]:
movies['genres'] = movies['genres'].apply(convert)
movies.head()

,id,title,genres,keywords,overview,cast,crew
0,862.0,Toy Story,"[Animation, Comedy, Family]","[{'id': 931, 'name': 'jealousy'}, {'id': 4290,...","Led by Woody, Andy's toys live happily in his ...","[{'cast_id': 14, 'character': 'Woody (voice)',...","[{'credit_id': '52fe4284c3a36847f8024f49', 'de..."
1,8844.0,Jumanji,"[Adventure, Fantasy, Family]","[{'id': 10090, 'name': 'board game'}, {'id': 1...",When siblings Judy and Peter discover an encha...,"[{'cast_id': 1, 'character': 'Alan Parrish', '...","[{'credit_id': '52fe44bfc3a36847f80a7cd1', 'de..."
2,15602.0,Grumpier Old Men,"[Romance, Comedy]","[{'id': 1495, 'name': 'fishing'}, {'id': 12392...",A family wedding reignites the ancient feud be...,"[{'cast_id': 2, 'character': 'Max Goldman', 'c...","[{'credit_id': '52fe466a9251416c75077a89', 'de..."
3,31357.0,Waiting to Exhale,"[Comedy, Drama, Romance]","[{'id': 818, 'name': 'based on novel'}, {'id':...","Cheated on, mistreated and stepped on, the wom...","[{'cast_id': 1, 'character': ""Savannah 'Vannah...","[{'credit_id': '52fe44779251416c91011acb', 'de..."
4,11862.0,Father of the Bride Part II,[Comedy],"[{'id': 1009, 'name': 'baby'}, {'id': 1599, 'n...",Just when George Banks has recovered from his ...,"[{'cast_id': 1, 'character': 'George Banks', '...","[{'credit_id': '52fe44959251416c75039ed7', 'de..."

In [240]:
movies['keywords']=movies['keywords'].apply(convert)
movies.head()

,id,title,genres,keywords,overview,cast,crew
0,862.0,Toy Story,"[Animation, Comedy, Family]","[jealousy, toy, boy, friendship, friends, riva...","Led by Woody, Andy's toys live happily in his ...","[{'cast_id': 14, 'character': 'Woody (voice)',...","[{'credit_id': '52fe4284c3a36847f8024f49', 'de..."
1,8844.0,Jumanji,"[Adventure, Fantasy, Family]","[board game, disappearance, based on children'...",When siblings Judy and Peter discover an encha...,"[{'cast_id': 1, 'character': 'Alan Parrish', '...","[{'credit_id': '52fe44bfc3a36847f80a7cd1', 'de..."
2,15602.0,Grumpier Old Men,"[Romance, Comedy]","[fishing, best friend, duringcreditsstinger, o...",A family wedding reignites the ancient feud be...,"[{'cast_id': 2, 'character': 'Max Goldman', 'c...","[{'credit_id': '52fe466a9251416c75077a89', 'de..."
3,31357.0,Waiting to Exhale,"[Comedy, Drama, Romance]","[based on novel, interracial relationship, sin...","Cheated on, mistreated and stepped on, the wom...","[{'cast_id': 1, 'character': ""Savannah 'Vannah...","[{'credit_id': '52fe44779251416c91011acb', 'de..."
4,11862.0,Father of the Bride Part II,[Comedy],"[baby, midlife crisis, confidence, aging, daug...",Just when George Banks has recovered from his ...,"[{'cast_id': 1, 'character': 'George Banks', '...","[{'credit_id': '52fe44959251416c75039ed7', 'de..."

In [241]:
def convert3(obj):
    L =[]
    counter=0
    for i in ast.literal_eval(obj):
        if counter !=3:
            L.append(i['name'])
            counter+=1
    return L

In [242]:
movies['cast']=movies['cast'].apply(convert3)
movies.head()

,id,title,genres,keywords,overview,cast,crew
0,862.0,Toy Story,"[Animation, Comedy, Family]","[jealousy, toy, boy, friendship, friends, riva...","Led by Woody, Andy's toys live happily in his ...","[Tom Hanks, Tim Allen, Don Rickles]","[{'credit_id': '52fe4284c3a36847f8024f49', 'de..."
1,8844.0,Jumanji,"[Adventure, Fantasy, Family]","[board game, disappearance, based on children'...",When siblings Judy and Peter discover an encha...,"[Robin Williams, Jonathan Hyde, Kirsten Dunst]","[{'credit_id': '52fe44bfc3a36847f80a7cd1', 'de..."
2,15602.0,Grumpier Old Men,"[Romance, Comedy]","[fishing, best friend, duringcreditsstinger, o...",A family wedding reignites the ancient feud be...,"[Walter Matthau, Jack Lemmon, Ann-Margret]","[{'credit_id': '52fe466a9251416c75077a89', 'de..."
3,31357.0,Waiting to Exhale,"[Comedy, Drama, Romance]","[based on novel, interracial relationship, sin...","Cheated on, mistreated and stepped on, the wom...","[Whitney Houston, Angela Bassett, Loretta Devine]","[{'credit_id': '52fe44779251416c91011acb', 'de..."
4,11862.0,Father of the Bride Part II,[Comedy],"[baby, midlife crisis, confidence, aging, daug...",Just when George Banks has recovered from his ...,"[Steve Martin, Diane Keaton, Martin Short]","[{'credit_id': '52fe44959251416c75039ed7', 'de..."

In [243]:
def fetch_directoer(obj):
    L =[]
    for i in ast.literal_eval(obj):
        if i['job']=="Director":
            L.append(i['name'])
            break
    return L

In [244]:
movies['crew']=movies['crew'].apply(fetch_directoer)
movies.head()

,id,title,genres,keywords,overview,cast,crew
0,862.0,Toy Story,"[Animation, Comedy, Family]","[jealousy, toy, boy, friendship, friends, riva...","Led by Woody, Andy's toys live happily in his ...","[Tom Hanks, Tim Allen, Don Rickles]",[John Lasseter]
1,8844.0,Jumanji,"[Adventure, Fantasy, Family]","[board game, disappearance, based on children'...",When siblings Judy and Peter discover an encha...,"[Robin Williams, Jonathan Hyde, Kirsten Dunst]",[Joe Johnston]
2,15602.0,Grumpier Old Men,"[Romance, Comedy]","[fishing, best friend, duringcreditsstinger, o...",A family wedding reignites the ancient feud be...,"[Walter Matthau, Jack Lemmon, Ann-Margret]",[Howard Deutch]
3,31357.0,Waiting to Exhale,"[Comedy, Drama, Romance]","[based on novel, interracial relationship, sin...","Cheated on, mistreated and stepped on, the wom...","[Whitney Houston, Angela Bassett, Loretta Devine]",[Forest Whitaker]
4,11862.0,Father of the Bride Part II,[Comedy],"[baby, midlife crisis, confidence, aging, daug...",Just when George Banks has recovered from his ...,"[Steve Martin, Diane Keaton, Martin Short]",[Charles Shyer]

In [245]:
movies

,id,title,genres,keywords,overview,cast,crew
0,862.0,Toy Story,"[Animation, Comedy, Family]","[jealousy, toy, boy, friendship, friends, riva...","Led by Woody, Andy's toys live happily in his ...","[Tom Hanks, Tim Allen, Don Rickles]",[John Lasseter]
1,8844.0,Jumanji,"[Adventure, Fantasy, Family]","[board game, disappearance, based on children'...",When siblings Judy and Peter discover an encha...,"[Robin Williams, Jonathan Hyde, Kirsten Dunst]",[Joe Johnston]
2,15602.0,Grumpier Old Men,"[Romance, Comedy]","[fishing, best friend, duringcreditsstinger, o...",A family wedding reignites the ancient feud be...,"[Walter Matthau, Jack Lemmon, Ann-Margret]",[Howard Deutch]
3,31357.0,Waiting to Exhale,"[Comedy, Drama, Romance]","[based on novel, interracial relationship, sin...","Cheated on, mistreated and stepped on, the wom...","[Whitney Houston, Angela Bassett, Loretta Devine]",[Forest Whitaker]
4,11862.0,Father of the Bride Part II,[Comedy],"[baby, midlife crisis, confidence, aging, daug...",Just when George Banks has recovered from his ...,"[Steve Martin, Diane Keaton, Martin Short]",[Charles Shyer]
...,...,...,...,...,...,...,...
46623,439050.0,Subdue,"[Drama, Family]",[tragic love],Rising and falling between a man and woman.,"[Leila Hatami, Kourosh Tahami, Elham Korda]",[Hamid Nematollah]
46624,111109.0,Century of Birthing,[Drama],"[artist, play, pinoy]",An artist struggles to finish his work while a...,"[Angel Aquino, Perry Dizon, Hazel Orencio]",[Lav Diaz]
46625,67758.0,Betrayal,"[Action, Drama, Thriller]",[],"When one of her hits goes wrong, a professiona...","[Erika Eleniak, Adam Baldwin, Julie du Page]",[Mark L. Lester]
46626,227506.0,Satan Triumphant,[],[],"In a small town live two brothers, one a minis...","[Iwan Mosschuchin, Nathalie Lissenko, Pavel Pa...",[Yakov Protazanov]
46627,461257.0,Queerama,[],[],50 years after decriminalisation of homosexual...,[],[Daisy Asquith]

In [246]:
movies['overview']=movies['overview'].apply(lambda x: x.split())

In [247]:
movies['genres']=movies['genres'].apply(lambda x : [i.replace(" ","")for i in x])
movies['keywords']=movies['keywords'].apply(lambda x : [i.replace(" ","")for i in x])
movies['cast']=movies['cast'].apply(lambda x : [i.replace(" ","")for i in x])
movies['crew']=movies['crew'].apply(lambda x : [i.replace(" ","")for i in x])

In [248]:
# movies['tags']= movies['genres'] + movies['keywords'] + movies['cast'] + movies['crew'] + movies['overview']
movies['tags'] = movies['overview']

In [249]:
movies.head(2)

,id,title,genres,keywords,overview,cast,crew,tags
0,862.0,Toy Story,"[Animation, Comedy, Family]","[jealousy, toy, boy, friendship, friends, riva...","[Led, by, Woody,, Andy's, toys, live, happily,...","[TomHanks, TimAllen, DonRickles]",[JohnLasseter],"[Led, by, Woody,, Andy's, toys, live, happily,..."
1,8844.0,Jumanji,"[Adventure, Fantasy, Family]","[boardgame, disappearance, basedonchildren'sbo...","[When, siblings, Judy, and, Peter, discover, a...","[RobinWilliams, JonathanHyde, KirstenDunst]",[JoeJohnston],"[When, siblings, Judy, and, Peter, discover, a..."

In [250]:
new_df = movies[['id','title','tags']]

In [251]:
new_df['tags']=new_df['tags'].apply(lambda x: " ".join(x))
new_df['tags']=new_df['tags'].apply(lambda x: x.lower())

C:\Users\leoni\AppData\Local\Temp\ipykernel_20740\2380013068.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  new_df['tags']=new_df['tags'].apply(lambda x: " ".join(x))
C:\Users\leoni\AppData\Local\Temp\ipykernel_20740\2380013068.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  new_df['tags']=new_df['tags'].apply(lambda x: x.lower())

In [252]:
# from nltk.stem import PorterStemmer
# ps=PorterStemmer()

In [253]:
# def steam(text):
#     y=[]
#     for i in text.split():
#         y.append (ps.stem(i))
#     return " ".join(y)

In [254]:
# new_df['tags']=new_df['tags'].apply(steam)

In [255]:
from sklearn.feature_extraction.text import CountVectorizer
CV= CountVectorizer(max_features=8000, stop_words="english")

In [256]:
vector=CV.fit_transform(new_df['tags']).toarray()

In [257]:
CV.get_feature_names()[1002]

C:\Users\leoni\AppData\Local\Packages\PythonSoftwareFoundation.Python.3.10_qbz5n2kfra8p0\LocalCache\local-packages\Python310\site-packages\sklearn\utils\deprecation.py:87: FutureWarning: Function get_feature_names is deprecated; get_feature_names is deprecated in 1.0 and will be removed in 1.2. Please use get_feature_names_out instead.
  warnings.warn(msg, category=FutureWarning)

'brigade'

In [258]:
from sklearn.metrics.pairwise import cosine_similarity
similarity=cosine_similarity(vector)

In [259]:
new_df[new_df['title']=='Avatar'].index[0]

14723

In [260]:
new_df[new_df['title']=='The Dark Knight']['tags'].values
new_df.shape

(45629, 3)

In [261]:
sorted(list(enumerate(similarity[0])), reverse=True, key=lambda x : x[1])[1:6]

[(15453, 0.4407044702604308),
 (3006, 0.4088149087663385),
 (10359, 0.3172206342872577),
 (8386, 0.3044713810352108),
 (43692, 0.2611164839335468)]

In [284]:
def Recommend_Movies(movie):
    movie_index=new_df[new_df['title']==movie].index[0]
    distance=similarity[movie_index]
    movies_list=sorted(list(enumerate(distance)), reverse=True, key=lambda x : x[1])[1:6]
    
    for i in movies_list:
        print(new_df.iloc[i[0]].title)

In [285]:
Recommend_Movies('Batman Begins')

Viva Maria!
Berkeley Square
Crisis
Enola Gay and the Atomic Bombing of Japan
Gone with the Wind

In [286]:
Recommend_Movies("Avatar")

Mr. Untouchable
Act One
The Adventures of Mark Twain
It's a Dog's Life
Possible Loves

In [275]:
Recommend_Movies("The Godfather")

Index(['Wifeid', 'Wifetitle', 'Wifetags'], dtype='object')
Index(['Wifeid', 'Wifetitle', 'Wifetags'], dtype='object')
Index(['Wifeid', 'Wifetitle', 'Wifetags'], dtype='object')
Index(['Wifeid', 'Wifetitle', 'Wifetags'], dtype='object')
Index(['Wifeid', 'Wifetitle', 'Wifetags'], dtype='object')

In [266]:
Recommend_Movies("Scarface")

Unstable Fables: Tortoise vs. Hare
Immoral Tales
The Viking Queen
Tale of Tales
The Vanquished

In [267]:
Recommend_Movies("The Hunger Games")

Fear and Desire
Yesterday's Enemy
War of the Dead
Brotherhood of Death
5 Dolls for an August Moon