In [209]:
import pandas as pd
import numpy as np

In [210]:
# reading movie data and user rating data
movies_df = pd.read_csv('data/movies_metadata.csv',usecols=['id','title'])

rating_df = pd.read_csv('data/ratings_small.csv',usecols=['userId', 'movieId', 'rating'],
dtype={'userId': 'int32', 'movieId': 'int32', 'rating': 'float32'})

In [211]:
# drops Nan values
movies_df.dropna(inplace=True)

# defines Dtype of id
movies_df["id"] = movies_df['id'].astype(pd.Int64Dtype())

# renames id to movieId for later merge
movies_df = movies_df.rename(columns={'id' : 'movieId'})

movies_df

       movieId                        title
0          862                    Toy Story
1         8844                      Jumanji
2        15602             Grumpier Old Men
3        31357            Waiting to Exhale
4        11862  Father of the Bride Part II
...        ...                          ...
45461   439050                       Subdue
45462   111109          Century of Birthing
45463    67758                     Betrayal
45464   227506             Satan Triumphant
45465   461257                     Queerama

[45460 rows x 2 columns]

In [212]:
rating_df.head()

   userId  movieId  rating
0       1       31   2.500
1       1     1029   3.000
2       1     1061   3.000
3       1     1129   2.000
4       1     1172   4.000

In [213]:
# merges the to dataframes
df = pd.merge(rating_df,movies_df,on='movieId')
df.head()

   userId  movieId  rating      title
0       1     1371   2.500  Rocky III
1       4     1371   4.000  Rocky III
2       7     1371   3.000  Rocky III
3      19     1371   4.000  Rocky III
4      21     1371   3.000  Rocky III

In [214]:
#combine_movie_rating = df.dropna(axis = 0, subset = ['title'])

# groups all of same title, counts all the ratings and remanes ratings to totalRatingCount
movie_ratingCount = (df.
     groupby(by = ['title'])['rating'].
     count().
     reset_index().
     rename(columns = {'rating': 'totalRatingCount'})
     [['title', 'totalRatingCount']]
    )
movie_ratingCount.head()

                                  title  totalRatingCount
0                 !Women Art Revolution                 2
1                           'Gator Bait                 1
2      'Twas the Night Before Christmas                 2
3              ...And God Created Woman                 1
4  00 Schneider - Jagd auf Nihil Baxter                 2

In [215]:
# merges the totalRatingCount on title
rating_with_totalRatingCount = df.merge(movie_ratingCount, left_on = 'title', right_on = 'title', how = 'left')
rating_with_totalRatingCount.head()

   userId  movieId  rating      title  totalRatingCount
0       1     1371   2.500  Rocky III                47
1       4     1371   4.000  Rocky III                47
2       7     1371   3.000  Rocky III                47
3      19     1371   4.000  Rocky III                47
4      21     1371   3.000  Rocky III                47

In [216]:
pd.set_option('display.float_format', lambda x: '%.3f' % x)
print(movie_ratingCount['totalRatingCount'].describe())

count   2794.000
mean      16.104
std       31.481
min        1.000
25%        1.000
50%        4.000
75%       15.750
max      324.000
Name: totalRatingCount, dtype: float64

In [229]:
# removes all movies with less then 50 ppl rating them.
popularity_threshold = 10
rating_popular_movie= rating_with_totalRatingCount.query('totalRatingCount >= @popularity_threshold')
rating_popular_movie.shape

(39675, 5)

In [231]:
# puts all movie and user in a metrix with ratings
movie_features_df=rating_popular_movie.pivot_table(index='title',columns='userId',values='rating').fillna(0)
movie_features_df.head()

userId,1,2,3,4,5,6,7,8,9,10,...,662,663,664,665,666,667,668,669,670,671
title,,,,,,,,,,,,,,,,,,,,,
10 Items or Less,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,...,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000
2 Days in Paris,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,...,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000
"20,000 Leagues Under the Sea",0.000,0.000,0.000,3.000,0.000,2.000,0.000,0.000,0.000,0.000,...,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000
2001: A Space Odyssey,0.000,3.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,...,0.000,0.000,0.000,3.000,0.000,0.000,0.000,0.000,0.000,0.000
24 Hour Party People,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,...,0.000,0.000,0.000,3.000,0.000,0.000,0.000,0.000,0.000,0.000

In [232]:
movie_features_df.shape

(945, 671)

In [219]:
# from scipy.sparse import csr_matrix

# movie_features_df_matrix = csr_matrix(movie_features_df.values)

# type(movie_features_df_matrix)

In [220]:
from sklearn.neighbors import NearestNeighbors

model_knn = NearestNeighbors(metric = 'cosine', algorithm = 'brute')
model_knn.fit(movie_features_df)

NearestNeighbors(algorithm='brute', metric='cosine')

In [221]:
movie_features_df.head()

userId,1,2,3,4,5,6,7,8,9,10,...,662,663,664,665,666,667,668,669,670,671
title,,,,,,,,,,,,,,,,,,,,,
"20,000 Leagues Under the Sea",0.000,0.000,0.000,3.000,0.000,2.000,0.000,0.000,0.000,0.000,...,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000
2001: A Space Odyssey,0.000,3.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,...,0.000,0.000,0.000,3.000,0.000,0.000,0.000,0.000,0.000,0.000
48 Hrs.,0.000,5.000,0.000,0.000,4.000,0.000,0.000,0.000,0.000,0.000,...,4.000,0.000,0.000,0.000,4.000,4.000,0.000,0.000,3.000,0.000
5 Card Stud,0.000,0.000,0.000,0.000,0.000,0.000,0.000,3.500,0.000,0.000,...,0.000,0.000,4.000,5.000,0.000,0.000,0.000,0.000,0.000,5.000
A Brief History of Time,0.000,0.000,0.000,0.000,0.000,2.000,0.000,0.500,4.000,5.000,...,0.000,0.000,0.000,0.000,0.000,0.000,4.000,0.000,0.000,0.000

In [222]:
# randomly picks a movie
query_index = np.random.choice(movie_features_df.shape[0])
print(query_index)
query_index = 1

0

In [223]:
distances, indices = model_knn.kneighbors(movie_features_df.iloc[query_index,:].values.reshape(1, -1), n_neighbors = 6)

In [224]:
indices

array([[  1,  96,  59,  16, 208, 184]], dtype=int64)

In [225]:
movie_features_df.head()

userId,1,2,3,4,5,6,7,8,9,10,...,662,663,664,665,666,667,668,669,670,671
title,,,,,,,,,,,,,,,,,,,,,
"20,000 Leagues Under the Sea",0.000,0.000,0.000,3.000,0.000,2.000,0.000,0.000,0.000,0.000,...,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000
2001: A Space Odyssey,0.000,3.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,...,0.000,0.000,0.000,3.000,0.000,0.000,0.000,0.000,0.000,0.000
48 Hrs.,0.000,5.000,0.000,0.000,4.000,0.000,0.000,0.000,0.000,0.000,...,4.000,0.000,0.000,0.000,4.000,4.000,0.000,0.000,3.000,0.000
5 Card Stud,0.000,0.000,0.000,0.000,0.000,0.000,0.000,3.500,0.000,0.000,...,0.000,0.000,4.000,5.000,0.000,0.000,0.000,0.000,0.000,5.000
A Brief History of Time,0.000,0.000,0.000,0.000,0.000,2.000,0.000,0.500,4.000,5.000,...,0.000,0.000,0.000,0.000,0.000,0.000,4.000,0.000,0.000,0.000

In [226]:
for i in range(0, len(distances.flatten())):
    if i == 0:
        print('Recommendations for {0}:\n'.format(movie_features_df.index[query_index]))
    else:
        print('{0}: {1}, with distance of {2}:'.format(i, movie_features_df.index[indices.flatten()[i]], distances.flatten()[i]))

Recommendations for 2001: A Space Odyssey:

1: Lolita, with distance of 0.5386512875556946:
2: Donnie Darko, with distance of 0.5402795672416687:
3: Arlington Road, with distance of 0.5432960987091064:
4: The Passion of Joan of Arc, with distance of 0.5743509531021118:
5: The Dark, with distance of 0.5752311944961548:

In [227]:
indices.flatten()[i]

184