In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [2]:
movies=pd.read_csv("data/10000 Movies Data")
credits=pd.read_csv('data/10000 Credits Data.zip')

In [3]:
movies

,Unnamed: 0,Movie_id,title,Genres,release_date,Keywords,overview,poster_path,Budget,Revenue,popularity,vote_average,vote_count
0,0,238,The Godfather,"[{'id': 18, 'name': 'Drama'}, {'id': 80, 'name...",1972-03-14,"[{'id': 131, 'name': 'italy'}, {'id': 697, 'na...","Spanning the years 1945 to 1955, a chronicle o...",/3bhkrj58Vtu7enYsRolD1fZdja1.jpg,245066411,245066411,93.552,8.7,16814
1,1,278,The Shawshank Redemption,"[{'id': 18, 'name': 'Drama'}, {'id': 80, 'name...",1994-09-23,"[{'id': 378, 'name': 'prison'}, {'id': 417, 'n...",Framed in the 1940s for the double murder of h...,/q6y0Go1tsGEsmtFryDOJo3dEmqu.jpg,28341469,28341469,78.664,8.7,22542
2,2,240,The Godfather Part II,"[{'id': 18, 'name': 'Drama'}, {'id': 80, 'name...",1974-12-20,"[{'id': 131, 'name': 'italy'}, {'id': 700, 'na...",In the continuing saga of the Corleone crime f...,/hek3koDUyRQk7FIhPXsa6mT2Zc3.jpg,102600000,102600000,55.752,8.6,10187
3,3,19404,Dilwale Dulhania Le Jayenge,"[{'id': 35, 'name': 'Comedy'}, {'id': 18, 'nam...",1995-10-19,[],"Raj is a rich, carefree, happy-go-lucky second...",/2CAL2433ZeIihfX1Hb2139CX0pW.jpg,100000000,100000000,22.150,8.6,3927
4,4,424,Schindler's List,"[{'id': 18, 'name': 'Drama'}, {'id': 36, 'name...",1993-12-15,"[{'id': 818, 'name': 'based on novel or book'}...",The true story of how businessman Oskar Schind...,/sF1U4EUQS8YHUYjNl3pMGNIQyr0.jpg,321365567,321365567,53.542,8.6,13382
...,...,...,...,...,...,...,...,...,...,...,...,...,...
9975,9975,384737,Precious Cargo,"[{'id': 28, 'name': 'Action'}, {'id': 80, 'nam...",2016-07-15,"[{'id': 9730, 'name': 'crime boss'}, {'id': 10...","After a botched heist, Eddie a murderous crim...",/dOQv2PDBu9bBCZRLeRp6QQYJDr3.jpg,100659,100659,14.663,5.2,243
9976,9976,282813,The Pyramid,"[{'id': 27, 'name': 'Horror'}]",2014-12-04,"[{'id': 1299, 'name': 'monster'}, {'id': 3762,...",An archaeological team attempt to unlock the s...,/joPb4PUPP7xClD6XPiQ7laBEtZf.jpg,16861137,16861137,17.892,5.2,861
9977,9977,134375,Home Alone: The Holiday Heist,"[{'id': 35, 'name': 'Comedy'}, {'id': 10751, '...",2012-11-25,"[{'id': 207317, 'name': 'christmas'}]",8-year-old Finn is terrified to learn his fami...,/6JPrRC0JPM06y17pUXD6w1xMvKi.jpg,0,0,23.978,5.2,335
9978,9978,10477,Driven,"[{'id': 28, 'name': 'Action'}]",2001-04-27,"[{'id': 271, 'name': 'competition'}, {'id': 36...",Talented rookie race-car driver Jimmy Bly has ...,/2aN2BBAbRyfEpfxZAQY82T8zWRq.jpg,54744738,54744738,13.200,5.2,594
9979,9979,243688,Poltergeist,"[{'id': 27, 'name': 'Horror'}]",2015-05-20,"[{'id': 3350, 'name': 'poltergeist'}, {'id': 3...",A family's suburban home is invaded by angry s...,/A1ymtbzatZp94Z49ZOBb8JGXOBB.jpg,95437994,95437994,42.458,5.2,2037

In [4]:
credits=credits.drop("title",axis=1)
movies=movies.merge(credits,on='Movie_id')

In [5]:
movies.head(1)

,Unnamed: 0_x,Movie_id,title,Genres,release_date,Keywords,overview,poster_path,Budget,Revenue,popularity,vote_average,vote_count,Unnamed: 0_y,Cast,Crew
0,0,238,The Godfather,"[{'id': 18, 'name': 'Drama'}, {'id': 80, 'name...",1972-03-14,"[{'id': 131, 'name': 'italy'}, {'id': 697, 'na...","Spanning the years 1945 to 1955, a chronicle o...",/3bhkrj58Vtu7enYsRolD1fZdja1.jpg,245066411,245066411,93.552,8.7,16814,0,"[{'adult': False, 'gender': 2, 'id': 3084, 'kn...","[{'adult': False, 'gender': 2, 'id': 154, 'kno..."

In [6]:
movies=movies[['Movie_id','title','Genres',"Keywords",'overview','Cast','Crew']]

In [7]:
movies.isnull().sum()

Movie_id    0
title       0
Genres      0
Keywords    0
overview    6
Cast        0
Crew        0
dtype: int64

In [8]:
movies.dropna(inplace=True)

In [9]:
movies.isnull().sum()

Movie_id    0
title       0
Genres      0
Keywords    0
overview    0
Cast        0
Crew        0
dtype: int64

In [10]:
movies.duplicated().sum()

0

In [11]:
import ast
ast.literal_eval

In [12]:
def convert(obj):
    L =[]
    for i in ast.literal_eval(obj):
        L.append(i['name'])
    return L

In [13]:
movies['Genres'] = movies['Genres'].apply(convert)
movies.head()

,Movie_id,title,Genres,Keywords,overview,Cast,Crew
0,238,The Godfather,"[Drama, Crime]","[{'id': 131, 'name': 'italy'}, {'id': 697, 'na...","Spanning the years 1945 to 1955, a chronicle o...","[{'adult': False, 'gender': 2, 'id': 3084, 'kn...","[{'adult': False, 'gender': 2, 'id': 154, 'kno..."
1,278,The Shawshank Redemption,"[Drama, Crime]","[{'id': 378, 'name': 'prison'}, {'id': 417, 'n...",Framed in the 1940s for the double murder of h...,"[{'adult': False, 'gender': 2, 'id': 504, 'kno...","[{'adult': False, 'gender': 2, 'id': 153, 'kno..."
2,240,The Godfather Part II,"[Drama, Crime]","[{'id': 131, 'name': 'italy'}, {'id': 700, 'na...",In the continuing saga of the Corleone crime f...,"[{'adult': False, 'gender': 2, 'id': 1158, 'kn...","[{'adult': False, 'gender': 2, 'id': 154, 'kno..."
3,19404,Dilwale Dulhania Le Jayenge,"[Comedy, Drama, Romance]",[],"Raj is a rich, carefree, happy-go-lucky second...","[{'adult': False, 'gender': 2, 'id': 35742, 'k...","[{'adult': False, 'gender': 1, 'id': 8311, 'kn..."
4,424,Schindler's List,"[Drama, History, War]","[{'id': 818, 'name': 'based on novel or book'}...",The true story of how businessman Oskar Schind...,"[{'adult': False, 'gender': 2, 'id': 3896, 'kn...","[{'adult': False, 'gender': 2, 'id': 491, 'kno..."

In [14]:
movies['Keywords']=movies['Keywords'].apply(convert)

In [15]:
def convert3(obj):
    L =[]
    counter=0
    for i in ast.literal_eval(obj):
        if counter !=3:
            L.append(i['name'])
            counter+=1
    return L

In [16]:
movies['Cast']=movies['Cast'].apply(convert3)

In [17]:
def fetch_directoer(obj):
    L =[]
    for i in ast.literal_eval(obj):
        if i['job']=="Director":
            L.append(i['name'])
            break
    return L

In [18]:
movies['Crew']=movies['Crew'].apply(fetch_directoer)

In [19]:
movies['overview']=movies['overview'].apply(lambda x: x.split())

In [20]:
movies['Genres']=movies['Genres'].apply(lambda x : [i.replace(" ","")for i in x])
movies['Keywords']=movies['Keywords'].apply(lambda x : [i.replace(" ","")for i in x])
movies['Cast']=movies['Cast'].apply(lambda x : [i.replace(" ","")for i in x])
movies['Crew']=movies['Crew'].apply(lambda x : [i.replace(" ","")for i in x])

In [21]:
movies['tags']= movies['Genres'] + movies['Keywords'] + movies['Cast'] + movies['Crew'] + movies['overview']

In [22]:
movies.head(2)

,Movie_id,title,Genres,Keywords,overview,Cast,Crew,tags
0,238,The Godfather,"[Drama, Crime]","[italy, lossoflovedone, loveatfirstsight, base...","[Spanning, the, years, 1945, to, 1955,, a, chr...","[MarlonBrando, AlPacino, JamesCaan]",[FrancisFordCoppola],"[Drama, Crime, italy, lossoflovedone, loveatfi..."
1,278,The Shawshank Redemption,"[Drama, Crime]","[prison, corruption, policebrutality, basedonn...","[Framed, in, the, 1940s, for, the, double, mur...","[TimRobbins, MorganFreeman, BobGunton]",[FrankDarabont],"[Drama, Crime, prison, corruption, policebruta..."

In [23]:
new_df = movies[['Movie_id','title','tags']]

In [24]:
new_df['tags']=new_df['tags'].apply(lambda x: " ".join(x))
new_df['tags']=new_df['tags'].apply(lambda x: x.lower())

C:\Users\ch__s\AppData\Local\Temp\ipykernel_16880\1413511631.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  new_df['tags']=new_df['tags'].apply(lambda x: " ".join(x))
C:\Users\ch__s\AppData\Local\Temp\ipykernel_16880\1413511631.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  new_df['tags']=new_df['tags'].apply(lambda x: x.lower())

In [25]:
# from nltk.stem import PorterStemmer
# ps=PorterStemmer()

In [26]:
# def steam(text):
#     y=[]
#     for i in text.split():
#         y.append (ps.stem(i))
#     return " ".join(y)

In [27]:
# new_df['tags']=new_df['tags'].apply(steam)

In [28]:
from sklearn.feature_extraction.text import CountVectorizer
CV= CountVectorizer(max_features=8000, stop_words="english")

In [29]:
vector=CV.fit_transform(new_df['tags']).toarray()

In [30]:
CV.get_feature_names()[1002]

C:\Users\ch__s\anaconda3\lib\site-packages\sklearn\utils\deprecation.py:87: FutureWarning: Function get_feature_names is deprecated; get_feature_names is deprecated in 1.0 and will be removed in 1.2. Please use get_feature_names_out instead.
  warnings.warn(msg, category=FutureWarning)

'brown'

In [31]:
from sklearn.metrics.pairwise import cosine_similarity
similarity=cosine_similarity(vector)

In [32]:
new_df[new_df['title']=='Avatar'].index[0]

1266

In [33]:
sorted(list(enumerate(similarity[0])), reverse=True, key=lambda x : x[1])[1:6]

[(2, 0.4382615323430833),
 (1633, 0.30218361150951756),
 (2747, 0.27500954910846337),
 (9782, 0.25588315785957955),
 (5229, 0.253546276418555)]

In [34]:
def Recommend_Movies(movie):
    movie_index=new_df[new_df['title']==movie].index[0]
    distance=similarity[movie_index]
    movies_list=sorted(list(enumerate(distance)), reverse=True, key=lambda x : x[1])[1:6]
    
    for i in movies_list:
        print(new_df.iloc[i[0]].title)

In [35]:
Recommend_Movies('Batman Begins')

Batman: Under the Red Hood
The Dark Knight
The Dark Knight Rises
Batman: Bad Blood
Batman: Year One

In [36]:
Recommend_Movies("Avatar")

Rakka
Titan A.E.
Skylines
Dragon Ball Z: Bardock - The Father of Goku
Valerian and the City of a Thousand Planets

In [37]:
Recommend_Movies("The Godfather")

The Godfather Part II
The Godfather Part III
Bomb City
Gotti
The Wild Goose Lake

In [38]:
Recommend_Movies("Scarface")

Braven
Death Wish 4: The Crackdown
Bad Boys II
Pusher
Bad Boys for Life

In [39]:
Recommend_Movies("The Hunger Games")

The Hunger Games: Catching Fire
The Hunger Games: Mockingjay - Part 2
The Hunger Games: Mockingjay - Part 1
The Seeker: The Dark Is Rising
The Indian in the Cupboard